nav{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
  font-size: 18px;
  line-height: 60px;
  a{
    margin:  10px;
    color: #fff;
  }
  .active{
    text-decoration: underline;
  }
}